<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>

    
{% block content %}
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">User login : {{request.user}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-light" href="{% url 'wishlist:logout' %}">logout</a>
      </div>
    </div>
  </div>
</nav>
<br>

<p class="h5">Nama: {{nama}}</p>
<br>
<br>

    
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}

<table class="table table-striped">
  <thead>
    <tr class="bg-dark">
      <th scope="col" class="text-light">Nomor</th>
      <th scope="col"class="text-light">Nama Barang</th>
      <th scope="col"class="text-light">Harga Barang</th>
      <th scope="col"class="text-light">Deskripsi</th>
    </tr>
  </thead>
  <tbody>
    {% for barang in list_barang %}
    <tr>
      <th scope="row">{{barang.id}}</th>
      <td>{{barang.nama_barang}}</td>
      <td>{{barang.harga_barang}}</td>
      <td>{{barang.deskripsi}}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>

<h5 class="text-center">Sesi terakhir login: {{ last_login }}</h5>



{% endblock content %}
</body>
</html>